<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>OneDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fa-axxoncontacts-inte-cncparahg9eabxbh.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/09592883-de3a-4c93-944c-222b3c88e832/resourceGroups/DataverseINTE/providers/Microsoft.Web/sites/fa-axxoncontacts-inte</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://fa-axxoncontacts-inte-cncparahg9eabxbh.scm.eastus-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>